<%= form_with model: @blog_post do |f| %>
  <% if f.object.errors.any? %>
    <div>
      <% f.object.errors.full_messages.each do |message| %>
        <div>
          <%= message %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
  </div>
  <div>
    <%= f.label :published_at %>
    <%= f.datetime_select :published_at, include_blank: true %>
  </div>
  <%= f.button %>
<% end %>
